// Header
header#header.alt
    nav#nav
        ul
            li
                a(href="/") Início
            li
                a(href="institucional") Institucional 
                    span.icon.fa-angle-down
                ul
                    li
                        a(href="institucional") Regimento Interno
                    li
                        a(href="institucional") Legislação e Normas
                    li
                        a(href="institucional") Estrutura Organizacional
                    li
                        a(href="institucional") Calendário Acadêmico
                    li
                        a(href="institucional") Sites Importantes
            li
                a(href="cursos") Cursos 
                    span.icon.fa-angle-down
                ul
                    li
                        a(href="cursos") [Integrado] Técnico em Agrimensura
                    li
                        a(href="cursos") [Subsequente] Técnico em Agrimensura
                    li.large
                        a(href="cursos") [Superior] Tecnologia em Geoprocessamento
                        br
            li
                a(href="professores") Professores  

            li
                a(href="#") Alunos 
                    span.icon.fa-angle-down
                ul
                    li
                        a(href="contact.html") Turmas
                    li
                        a(href="elements.html") Horários                    
                    li
                        a(href="generic.html") Bolsistas
                    li
                        a(href="#") Monitores  

            li
                a(href="#") Seleção 
                    span.icon.fa-angle-down
                ul
                    li
                        a(href="contact.html") Ingresso
                    li
                        a(href="elements.html") Monitoria                    
                    li
                        a(href="generic.html") Bolsas

            li
                a(href="#") Publicações 
                    span.icon.fa-angle-down
                ul
                    li
                        a(href="elements.html") Artigos  
                    li
                        a(href="elements.html") Livros                    
                    li
                        a(href="generic.html") TCC
        
            li
                a(href="#") Downloads 
                    span.icon.fa-angle-down
                ul
                    li
                        a(href="contact.html") Materiais Didáticos
                    li
                        a(href="elements.html") Cartilhas                    
                    li
                        a(href="generic.html") Material de Aula
                    li
                        a(href="elements.html") Formulários

            li
                a(href="#") Galeria 
                    span.icon.fa-angle-down
                ul
                    li
                        a(href="contact.html") Aulas de Campo
                    li
                        a(href="elements.html") Egressos                    
                    li
                        a(href="generic.html") Eventos
                    li
                        a(href="elements.html") Visitas Técnicas

            li
                a(href="index.html") Contato