doctype html
//
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
	head
		title Geotecnologias
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//if lte IE 8
			script(src="assets/js/ie/html5shiv.js")
		link(rel="stylesheet", href="assets/css/main.css")
		//if lte IE 8
			link(rel="stylesheet", href="assets/css/ie8.css")
	body.landing
		#page-wrapper
			include ./shared/menu.pug

			// Banner
			section#banner
				h2 Geotecnologias

			// Main
			section#main.container
				section.box.special
					header
						h2
							| Conheça Nossos Cursos
						p
							| Estude Conosco

						section.box.special.features
							.features-row
								section
									span.icon.major
									h3 Técnico em Agrimensura
									p
										| Integrado
									a.button.alt(href="#") Saiba Mais
								section
									span.icon.major
									h3 Tecnologia em Geoprocessamento
									p
										| Superior
									a.button.alt(href="#") Saiba Mais
								section
									span.icon.major
									h3 Técnico em Agrimensura
									p
										| Subsequente
									a.button.alt(href="#") Saiba Mais


				.row
					.x4u(class="x12u(narrower)")
						section#banner
							h2 Últimas
							h2 Notícias
					.x8u(class="x12u(narrower)")
						.row
							.x6u(class="x12u(narrower)")
								section.box.special
									span.image.featured
										img(src="images/pic03.jpg", alt="")
									h3 Accumsan integer
									p
										| Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.
									ul.actions
										li
											a.button.alt(href="#") Learn More
							.x6u(class="x12u(narrower)")
								section.box.special
									span.image.featured
										img(src="images/pic03.jpg", alt="")
									h3 Accumsan integer
									p
										| Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.
									ul.actions
										li
											a.button.alt(href="#") Learn More
						ul.actions.fit
								li
									a.button.fit.small(href="#") + Notícias
			// CTA
			section#cta
				.box.alt
					.row.no-collapse.uniform(class="x50%").photobanner
						.x3u
							span.image.fit.first
								img(src="images/pic04.jpg", alt="")
						.x3u
							span.image.fit.first
								img(src="images/pic04.jpg", alt="")
						.x3u
							span.image.fit.first
								img(src="images/pic04.jpg", alt="")
						.x3u
							span.image.fit.first
								img(src="images/pic04.jpg", alt="")
								

			include ./shared/footer.pug

		// Scripts
		script(src="assets/js/jquery.min.js")
		script(src="assets/js/jquery.dropotron.min.js")
		script(src="assets/js/jquery.scrollgress.min.js")
		script(src="assets/js/skel.min.js")
		script(src="assets/js/util.js")
		//if lte IE 8
			script(src="assets/js/ie/respond.min.js")
		script(src="assets/js/main.js")
