doctype html
//
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
	head
		title Institucional
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//if lte IE 8
			script(src="assets/js/ie/html5shiv.js")
		link(rel="stylesheet", href="assets/css/main.css")
		//if lte IE 8
			link(rel="stylesheet", href="assets/css/ie8.css")
	body
		#page-wrapper
			include ./shared/menu.pug

			// Main
			section#main.container
				header
					h2 Institucional
					p Informações sobre o Instituto Federal de Mato Grosso
				.box
					span.image.featured
						img(src="images/pic00.jpg", alt="")
					h3 Regimento Interno
					p
						| O presente Regimento Geral consiste no conjunto de normas que disciplinam a organização e o funcionamento do Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso – IFMT, estabelecendo a dinâmica das atividades acadêmicas e administrativas e das relações entre os órgãos da instituição e tem por objetivo complementar e normatizar as disposições estatutárias.
						.x3u(class="x6u(narrower) x12u$(mobilep)")
							ul.actions.vertical
								li
									a.button.fit(href="http://cba.ifmt.edu.br/conteudo/pagina/regime-disciplinar/" target="_blank") Leia Mais					
					h3#legislacao Legislação e Normas
					p
						| Aqui estão publicados os documentos oficiais que servem de instrumento de Gestão Pública no âmbito do Campus Cuiabá. São Regulamentos, portarias e outros.
						.x3u(class="x6u(narrower) x12u$(mobilep)")
							ul.actions.vertical
								li
									a.button.fit(href="http://cba.ifmt.edu.br/conteudo/pagina/legislacoesemanuais/" target="_blank") Leia Mais					
					h3#estrutura Estrutura Organizacional
					p
						| Estrutura do Instituto Federal de Mato Grosso - Quem é quem?
						.x3u(class="x6u(narrower) x12u$(mobilep)")
							ul.actions.vertical
								li
									a.button.fit(href="http://ifmt.edu.br/conteudo/pagina/estrutura-quem-e-quem/" target="_blank") Leia Mais					
					h3#calendario Calendário Academico
					p
						.x3u(class="x6u(narrower) x12u$(mobilep)")
							ul.actions.vertical
								li
									a.button.fit(href="http://cba.ifmt.edu.br/conteudo/pagina/calendario-academico-2017-campus-cuiaba-octayde-jorge/" target="_blank") Leia Mais
			
					h3#sites Sites Importantes
					p
						| Site do Instituto Federal de Mato Grosso - Campus "Octayde Jorge da Silva"
						.x3u(class="x6u(narrower) x12u$(mobilep)")
							ul.actions.vertical
								li
									a.button.fit(href="http://cba.ifmt.edu.br" target="_blank") Acesse Aqui
					p
						| Portal do Conselho Regional de Engenharia e Agronomia de Mato Grosso
						.x3u(class="x6u(narrower) x12u$(mobilep)")
							ul.actions.vertical
								li
									a.button.fit(href="http://www.crea-mt.org.br/" target="_blank") Acesse Aqui  
			
			// Footer
			include ./shared/footer.pug
		// Scripts
		script(src="assets/js/jquery.min.js")
		script(src="assets/js/jquery.dropotron.min.js")
		script(src="assets/js/jquery.scrollgress.min.js")
		script(src="assets/js/skel.min.js")
		script(src="assets/js/util.js")
		//if lte IE 8
			script(src="assets/js/ie/respond.min.js")
		script(src="assets/js/main.js")
