doctype html
//
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
	head
		title Professores
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//if lte IE 8
			script(src="assets/js/ie/html5shiv.js")
		link(rel="stylesheet", href="assets/css/main.css")
		//if lte IE 8
			link(rel="stylesheet", href="assets/css/ie8.css")
	body
		#page-wrapper
			include ./shared/menu.pug

			// Main
			section#main.container
				header
					h2 Professores
					p Informações sobre o nosso Departamento
				h3 Coordenador(a)
				p
					span.image.left
						img(src="images/pic05.jpg", alt="")
					| Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
			
				section.box.special
					header
						h2
							| Conheça Nossos Professores

						section.box.special.features
							.features-row
								section.professor
									span.icon.major
									h4 Ms. Alexandre Torrezam
									p
										| Ciência da Computação
									p Modelagem de Banco de Dados Espacial
								section.professor
									span.icon.major
									h4 Ms. Aluizio Alves da Costa
									p
										| Engenharia
									p Topografia
									a.button.alt(href="http://lattes.cnpq.br/2789519915924782") Lattes
								section.professor
									span.icon.major
									h4 Ms. Amarília Mathilde da Silva
									p
										| Secretariado Executivo
									p Administração
									a.button.alt(href="http://lattes.cnpq.br/6957163188338240") Lattes
						section.box.special.features
							.features-row
								section.professor
									span.icon.major
									h4 Ms. Erica Bussiki Figueiredo
									p
										| Ciência da Computação
									p Informática; Tecnologia Web Aplicada ao Geoprocessamento; Algoritmos de Programação; Banco de dados
									a.button.alt(href="#") Lattes
								section.professor
									span.icon.major
									h4 Dr. Geovani José Silva
									p
										| Ciências Agrárias
									p Topografia
									a.button.alt(href="http://lattes.cnpq.br/1562123751879755") Lattes
								section.professor
									span.icon.major
									h4 Dr. Geraldo A. Gomes de Almeida
									p
										| Cadastro Territorial Multifinalitário; Planejamento Espacial
									p Administração
									a.button.alt(href="http://lattes.cnpq.br/6957163188338240") Lattes
							
								
			// Footer
			include ./shared/footer.pug
		// Scripts
		script(src="assets/js/jquery.min.js")
		script(src="assets/js/jquery.dropotron.min.js")
		script(src="assets/js/jquery.scrollgress.min.js")
		script(src="assets/js/skel.min.js")
		script(src="assets/js/util.js")
		//if lte IE 8
			script(src="assets/js/ie/respond.min.js")
		script(src="assets/js/main.js")
